img{
    width: 30x;
    height: 30px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
} 

#continue:hover{
    background-color: green;
}

#pause:hover{
    background-color: yellow;
    border-radius: 45px;
}

#end:hover{
    background-color: red;
    
}

#github{
    width: 45x;
    height: 45px;
}

#linkedin{
    width: 45x;
    height: 45px;
}

button.play-button {
    width: 100px;
    margin-bottom: 10px;
    background: pink;
    border: solid hotpink;
    border-radius: 5px;
}