.flex-container{
    display: flex;
    text-align: center;
    justify-content: center;  
}
canvas{
    border: 5px solid grey;
    border-radius: 10px;
    margin-right: 10px ;
}

.right-side-components > div {
    color: pink;
    width: 200px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

