.flex-container{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;  
    
}
canvas{
    border: 3px;
    border-color:green;
    border-style: solid;
}

